body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    font-size: 15px;
    color: #3d437d;
    padding: 10px;
    text-align: right;
  }
  
  nav {
    background-color: #1d2e4e;
    text-align: left;
    margin-bottom: 20px;
    margin: 25px;
    padding: 20px;
  }
  
  nav a {
    text-align: left;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
  }
  
  nav a:hover {
    background-color: #444;
  }
  
  main {
    background-color: #fff;
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="date"] {
    width: 150px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .form-group:nth-child(1) {
    margin-top: 20px;
  }
  
  .form-group:nth-child(3) {
    margin-top: 20px;
  }
  
  .form-group:nth-child(5) {
    margin-top: 20px;
  }
  
  .form-group:nth-child(7) {
    margin-top: 20px;
  }
  
  .form-group:nth-child(9) {
    margin-top: 20px;
  }
  
  .form-group:nth-child(11) {
    margin-top: 20px;
  }