body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  font-size: 15px;
  color: #3d437d;
  padding: 10px;
  text-align: right;
}

nav {
  background-color: #1d2e4e;
  text-align: left;
  margin-bottom: 20px;
  margin: 25px;
  padding: 20px;
}

nav a {
  text-align: left;
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  background-color: #444;
}




#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1d2e4e;
  color: white;
}